@model RealBazzar.web.ViewModel.IndexViewModel
@{
    ViewBag.Title = "Index";

    
}

<!-- Slider -->
@if (Model.category != null)
{
<div class="main_slider" style="background-image:url(Content/images/@Model.category.ImageURL2)">
    <div class="container fill_height">
        <div class="row align-items-center fill_height">
            <div class="col">
                <div class="main_slider_content">
                    <h6>Winter Collection 2018</h6>
                    <h2>Get up to 20 % Off New Arrivals</h2>
                    <div class="red_button shop_now_button">
                        <a href="@Url.Action("Index","Shop",new {CategoryId=Model.category.Id })">shop now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}
<!-- Banner -->
@if (Model.featuredcategoies != null && Model.featuredcategoies.Count >= 3)
{
    var firstCategory = Model.featuredcategoies[0];
    var secondCategory = Model.featuredcategoies[1];
    var Thirdcategory = Model.featuredcategoies[2];
    <div class="banner">
        <div class="container">
            <div class="row">
                @if (firstCategory != null)
                {
                    <div class="col-md-4">
                        <div class="banner_item align-items-center" style="background-image:url(/Content/images/@firstCategory.ImageURL)">
                            <div class="banner_category">
                                <a href="@Url.Action("Index","Shop",new {CategoryId= firstCategory.Id })">@firstCategory.Name</a>
                            </div>
                        </div>
                    </div>
                }
                @if (secondCategory != null)
                {
                    <div class="col-md-4">
                        <div class="banner_item align-items-center" style="background-image:url(/Content/images/@secondCategory.ImageURL)">
                            <div class="banner_category">
                                <a href="@Url.Action("Index","Shop",new {CategoryId= secondCategory.Id })">@secondCategory.Name</a>
                            </div>
                        </div>
                    </div>
                }
                @if (Thirdcategory != null)
                {
                    <div class="col-md-4">
                        <div class="banner_item align-items-center" style="background-image:url(/Content/images/@Thirdcategory.ImageURL)">
                            <div class="banner_category">
                                <a href="@Url.Action("Index","Shop",new {CategoryId= Thirdcategory.Id })">@Thirdcategory.Name</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}
<!-- New Arrivals -->

<div class="new_arrivals">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="section_title new_arrivals_title">
                    <h2>New Arrivals</h2>
                </div>
            </div>
        </div>


        @{Html.RenderAction("Product", "Widget", new { isLatest = false });}

    </div>
</div>


<!-- Deal of the week -->
@if (Model.product != null)
{
<div class="deal_ofthe_week">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="deal_ofthe_week_img">
                    <img src="~/Content/images/@Model.product.ImageURL3" alt="">
                </div>
            </div>
            <div class="col-lg-6 text-right deal_ofthe_week_col">
                <div class="deal_ofthe_week_content d-flex flex-column align-items-center float-right">
                    <div class="section_title">
                        <h2>Deal Of The Day</h2>
                    </div>
                  
                    <div class="red_button deal_ofthe_week_button">
                        <a href="@Url.Action("Details","Product",new { Id= Model.product.Id})">shop now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

}

<!-- Best Sellers -->

<div class="best_sellers">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="section_title new_arrivals_title">
                    <h2>Best Sellers</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="product_slider_container">
                    <div class="owl-carousel owl-theme product_slider">

                        <!-- Slide 1 -->
                        @{Html.RenderAction("Product", "Widget", new { isLatest = true });}

                    </div>

                    <!-- Slider Navigation -->

                    <div class="product_slider_nav_left product_slider_nav d-flex align-items-center justify-content-center flex-column">
                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    </div>
                    <div class="product_slider_nav_right product_slider_nav d-flex align-items-center justify-content-center flex-column">
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Benefit -->

<div class="benefit">
    <div class="container">
        <div class="row benefit_row">
            <div class="col-lg-3 benefit_col">
                <div class="benefit_item d-flex flex-row align-items-center">
                    <div class="benefit_icon">
                        <i class="fa fa-truck" aria-hidden="true"></i>
                    </div>
                    <div class="benefit_content">
                        <h6>free shipping</h6>
                        <p>Suffered Alteration in Some Form</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 benefit_col">
                <div class="benefit_item d-flex flex-row align-items-center">
                    <div class="benefit_icon">
                        <i class="fa fa-money" aria-hidden="true"></i>
                    </div>
                    <div class="benefit_content">
                        <h6>cach on delivery</h6>
                        <p>The Internet Tend To Repeat</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 benefit_col">
                <div class="benefit_item d-flex flex-row align-items-center">
                    <div class="benefit_icon">
                        <i class="fa fa-undo" aria-hidden="true"></i>
                    </div>
                    <div class="benefit_content">
                        <h6>45 days return</h6>
                        <p>Making it Look Like Readable</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 benefit_col">
                <div class="benefit_item d-flex flex-row align-items-center">
                    <div class="benefit_icon">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                    </div>
                    <div class="benefit_content">
                        <h6>opening all week</h6>
                        <p>8AM - 09PM</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Blogs -->

<div class="blogs">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="section_title">
                    <h2>Latest Blogs</h2>
                </div>
            </div>
        </div>
        <div class="row blogs_container">
            <div class="col-lg-4 blog_item_col">
                <div class="blog_item">
                    <div class="blog_background" style="background-image:url(~/Content/images/blog_1.jpg)"></div>
                    <div class="blog_content d-flex flex-column align-items-center justify-content-center text-center">
                        <h4 class="blog_title">Here are the trends I see coming this fall</h4>
                        <span class="blog_meta">by admin | dec 01, 2017</span>
                        <a class="blog_more" href="#">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 blog_item_col">
                <div class="blog_item">
                    <div class="blog_background" style="background-image:url(~/Content/images/blog_2.jpg)"></div>
                    <div class="blog_content d-flex flex-column align-items-center justify-content-center text-center">
                        <h4 class="blog_title">Here are the trends I see coming this fall</h4>
                        <span class="blog_meta">by admin | dec 01, 2017</span>
                        <a class="blog_more" href="#">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 blog_item_col">
                <div class="blog_item">
                    <div class="blog_background" style="background-image:url(~/Content/images/blog_3.jpg)"></div>
                    <div class="blog_content d-flex flex-column align-items-center justify-content-center text-center">
                        <h4 class="blog_title">Here are the trends I see coming this fall</h4>
                        <span class="blog_meta">by admin | dec 01, 2017</span>
                        <a class="blog_more" href="#">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
